<h3 class="text-center">New Note</h3>

<% if params['invalid'].present? %>
  <h4 class="text-center">Missing Info or Invalid File Type on your note (images, pdfs, .txt, mp3, and videos only)!</h4>
<% end %>

<table class="table">
  <tr>
    <th>Class Name</th>
    <th>Topics</th>
    <th colspan="2">Files</th>
  </tr>

  <tr>
    <%= form_for([@user, @user.notes.build]) do |note| %>
      <td>
        <p class="text-center"><%= note.text_field :c_name %></p>
      </td>

      <td>
        <p class="text-center"><input id="note_topics" name="note[topics]" type="text"></p>
        (separate multiple topics with commas)
      </td>

      <td>
        <p class="text-center"><%= note.file_field :content %></p>
      </td>
     
      <td>
        <%= note.submit "Create Note!" %>
      </td>
    <% end %>
  </tr>
</table>