<div class="navbar">
	<% if session[:user_id].nil? %>
		<a class="brand" href="#">Ournote</a>
	<% else %>
    	<a class="brand" href=<%= user_path(session[:user_id]) %>>Ournote</a>
      <% if session[:user_id].present? %>
        <div class="nav pull-left">
          <%= render 'notes/search_bar' %>
        </div>
      <% end %>
  <% end %>
    
  <div class="nav pull-right">
    <% if session[:user_id].present? %>
      <%= link_to User.find(session[:user_id]).username, user_path(User.find(session[:user_id])), :class => 'brand' %>
      <%= link_to 'Logout', '/logout', :class => 'brand', data: { confirm: 'Are you sure?' } %>
    <% end %>
  </div>
</div>