<div class="navbar">
	<% if session[:user_id].nil? %>
		<a class="brand" href="#">Ournote</a>
	<% else %>
    	<a class="brand" href=<%= user_path(session[:user_id]) %>>Ournote</a>
      <% unless @user.nil? %>
        <div class="nav pull-left">
          <%= render 'notes/search_bar' %>
        </div>
      <% end %>
  <% end %>
    
  <div class="nav pull-right">
    <% unless @user.nil? %>
      <%= link_to @user.username, user_path(@user), :class => 'brand' %>
      <%= link_to 'Logout', '/logout', :class => 'brand', data: { confirm: 'Are you sure?' } %>
    <% end %>
  </div>
</div>